header {
  background-color: #99d6ff;
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-family: Georgia, serif
}

#title {
  position: absolute;
  right: 50px;
  font-family: fantasy;
  font-size: 1.4em;
  margin-top: -3px;
  color: #005c99
}

body {
  margin-top: 60px;
  font-family: Georgia, serif;
}

.links {
  padding-right: 10px;
  text-decoration: none;
  color: #005c99;
}

.links:hover {
  color: black;
}

.account-box {
  background-color: #d9d9d9;
  padding-top: 3px;
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-bottom: 20px;
  margin-bottom: 10px;
  float: left;
  width: 46.2%;
}

.account-box.left {
  margin-right: 1%;
}

.account-header {
  text-align: center;
  background-color: #a6a6a6;
  padding-top: 3px;
  padding-bottom: 3px;
}

.manage {
  margin-top: 10px;
}

.amount {
  font-size: 1.4em;
}

.history {
  padding: 10px;
}

.history-link {
  position: relative;
  bottom: 20px;
  text-align: right;
  font-size: 0.85em;
  margin-right: 5px;
}
