<h1>Welcome to Blue Mile Bank</h1>
<!-- <img id="road-img" src="https://images.unsplash.com/photo-1511576661531-b34d7da5d0bb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7c9c876925362a7623419f83c66482d8&w=1000&q=80" alt="Road"> -->
<img id="road-img" src='https://lh3.googleusercontent.com/JihO4fBjc7ki8W5jZqfpDpiuhowDqsmXvjn8nTzHGacOeBB8lHb9QqTTcXy0RFTNLJjcfrZLzlbZqIrZIf_Gr4HawOHGU9-HTdceNgkqgonM_b7TqqQcCl2-kyuNdfYHREwPRzOm=w2400' /></a>
