<h1>Welcome to Blue Mile Bank</h1>

<img id="road-img" src='https://lh3.googleusercontent.com/JihO4fBjc7ki8W5jZqfpDpiuhowDqsmXvjn8nTzHGacOeBB8lHb9QqTTcXy0RFTNLJjcfrZLzlbZqIrZIf_Gr4HawOHGU9-HTdceNgkqgonM_b7TqqQcCl2-kyuNdfYHREwPRzOm=w2400' /></a>
