<h1>Savings Account Transaction History</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Message</th>
    <th>Amount</th>
  </tr>

    <%@histories.each do |transaction|%>
      <%if transaction.savings%>
        <tr class="history-tr">
          <td class="history-td"><%=transaction.date%></td>
          <td class="history-td"><%=transaction.message%></td>
          <td class="history-td"><%=transaction.amount%></td>
        </tr>
        <%end%>
    <%end%>

</table>
